:root {
    --primary: rgb(63, 24, 97);
    --light: rgba(36, 3, 77, 0.446);
    --gray: rgb(48, 45, 45);
    --gris: #efefef; 
    --moradoback:rgb(69, 39, 104);
}

.dashboar-contenido{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  // border: 1px solid red;

}


.dashboar-dataTable-conteiner{
  display: flex;
  justify-content:center;
  align-items: center;
  // border: 1px solid red;
}
.dashboar-dataTable{
  width: 80%;

}

element.style {
}




@import './dasboard.scss';
@import './login.scss';
@import './usuario.scss';
@import './grafico.scss';
